{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "../.eslintrc",
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "import/no-unresolved": 0,
    "max-params": [2, 6],
    "max-statements": 0,
    "max-lines-per-function": 0
  }
}
