{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": ["../.eslintrc", "airbnb-typescript-prettier"],
  "parserOptions": {
    "project": "./website/tsconfig.json",
    "ecmaFeatures": {
      "tsx": true
    }
  },
  "rules": {
    "no-underscore-dangle": "off",
    "no-use-before-define": 0
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
