{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": ["../.eslintrc", "airbnb-typescript-prettier"],
  "parserOptions": {
    "project": "./website/tsconfig.json"
  },
  "rules": {
    "no-underscore-dangle": "off"
  }
}
